{
    "command": "java -jar kafka-ui-api.jar",
    "config_files": [],
    "permissions": [
        {
            "path": "/var/log/kolla/kafka-ui",
            "owner": "kafka:kafka",
            "recurse": true
        }
    ]
}
